*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('images/map-blur.png');
    
}

.main{
    width: 50%;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    min-height: auto;
}
.main p{
    text-align: left;
    font-family: sans-serif;
    margin: 5px 0;
}
.main h2{
    text-transform: uppercase;
    font-family: sans-serif;
}


@media screen and (max-width:500px){
   .main {
       width: 90%;

   }
   .main p{
       width: 100%;
   }

  
}
